
//Button sizes
$button-height: 100px;
$button-width: 300px;
$button-border-radius: 4px;

//Button sizes(smaller)
$minibutton-height: 56px;
$minibutton-width: 250px;
$button-border-radius: 8px;


// Colors
$button-background:rgba(124, 124, 124, 0.2);;
$button-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
$font-colors: #FFFFFF;
$heading-font-color:#000000;
$primary-color: #AED7A0;

//General
$border-elements:#FFFFFF;

// Layout
$margin: 1rem;
$padding: 1rem;

// Typography
$button-fontsize: 1em;
$heading-font-size: 16px;
$heading-font-weight: 700;
$subheading-font-weight: 500;
$heading-font-height:22px;
$heading-font-style:normal;


