@import "./../../styles/sass/variables.scss";

.title-message{
    font-style: $heading-font-style;
    font-weight: $heading-font-weight;
    font-size: $heading-font-size;
    line-height: $heading-font-height;
}

.heading-route{
    display: flex;
    align-items: center;
}

.arrow-icon{
    padding-right: 1rem;

    &:hover{
        cursor: pointer;
     }
}


