@import "./../../styles/sass/variables.scss";

.title-message{
    font-style: $heading-font-style;
    font-weight: $heading-font-weight;
    font-size: $heading-font-size;
    line-height: $heading-font-height;
}

