@import "./../../styles/sass/variables.scss";

.ristretto-container{
    width: 50%;
    height: 3rem;
    background: $primary-shade-light;
    border-radius: 6px;
}

.ristretto-font{
    text-align: center;
    padding: 10px;
}