@import "./../../styles/sass/variables.scss";

.ristretto-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ristretto-button{
    width: 343px;
    height: 94px;
    background: $primary-shade-light;
    border: none;
    text-align: center;
    padding: 4px;
    margin-bottom: 1rem ;
}

.ristretto-font{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
}