@import "./../../styles/sass/variables.scss";

.coffee-button{
    width: $button-width;
    height: $button-height;
    background: $primary-color;
    border: none;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin-bottom: 1.5rem ;
  
}

.coffee-font{
    color: $font-colors;
    font-weight: 600;
    font-size: 18px;
}



