@import "./../../styles/sass/variables.scss";

    .milk-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: $button-width;
        background: $primary-color;
        margin-bottom: 1rem ;
        border-radius: 4px;
        list-style: none;
        color: $font-colors;
    }

    .milk-radio{
        width: $minibutton-width;
        height: 56px;
        background: $button-background;
        margin: 0.5rem;
        border-radius: 8px;
        text-align: center;  
    }

